<mat-card class="mat-card">
  <div class="example-container">
<mat-card-header class="form-header">

    <h2 class="example-container" style="color: #7a43b6">
        Авторизация
    </h2>


</mat-card-header>

<mat-card-content>

  <form [formGroup]="form" (submit)="formSubmit()" class="login-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Имя пользователя:" formControlName="username">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Пароль:" formControlName="password">
    </mat-form-field>
    <br />
    <button class="example-full-width" mat-raised-button color="accent" >Войти</button>
  </form>

</mat-card-content>

</div>

</mat-card>
